<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{ post_title }}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg" style="background-color: #eceff1; color:#1976d2;">
        <a class="navbar-brand" href="/">Кафедра БЖСиГХ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% for name, age in mainm.items %}
                <li class="nav-item"><a class="nav-link" href="{{link}}">{{name}}</a></li>
            {% endfor %}

            {{ main_menu }}
<!--
            <li class="nav-item active">
              <a class="nav-link" href="/about/">О кафедре<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Наука</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Люди
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Заведующий кафедрой</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Профессор Батманов</a>
                  <a class="dropdown-item" href="#">Профессор Боровков</a>
                  <a class="dropdown-item" href="#">Профессор Сидельникова</a>
                  <a class="dropdown-item" href="#">Профессор Стрекалов</a>
                  <a class="dropdown-item" href="#">Профессор Тертишников</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Доценты и преподаватели</a>
                  <a class="dropdown-item" href="#">Аспиранты</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Лаборатория</a>
            </li>
-->
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск google" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" style="color:#1976d2; border-color: #1976d2;" type="submit">Поиск</button>
          </form>
        </div>
      </nav>
    </header>

    <main>
      <div class="container-fluid mt-2">
        <div class="row">
          <div class="col-lg-3 col-xl-2"> <!-- style="background-color: #1976d2;"-->
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
              aria-selected="true">История</a>
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
              aria-selected="false">Научные направления</a>
              <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
              aria-selected="false">Подготовленные кадры</a>
              <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
              aria-selected="false">Для студентов</a>
            </div>
          </div>
          <div class="col-lg-6 col-xl-7">
            {% block page_content %}
            {% endblock page_content %}
            <h2>Кафедра "Безопасность жизнедеятельности в строительстве и городском хозяйстве" (БЖСиГХ)</h2>
            <h4>Институт архитектуры и строительства ВолгГТУ</h4>
            <p>В соответствии с решением Ученого совета университета от 27.03.2006 г. с июля 2006 г. организована кафедра «Безопасности жизнедеятельности в техносфере» (БЖДвТ).

Заведующий кафедрой — Азаров В.Н. д.т.н., профессор, доктор технических наук, профессор, Заслуженный эколог РФ, Лауреат премии правительства РФ в области образования, советник РААСН.</p>
            <h2>Основные научные направления кафедры</h2>

          </div>
          <div class="col-lg-3 col-xl-3 jumbotron">
            Advertise
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="jumbotron mt-2 justify-content-center">
        2020 Сайт работает благодаря M.Sc. Mikhail Trunov mikhail.trunov@gmail.com
      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
