<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{ post_title }}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eceff1; color:#1976d2;">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href="/">Кафедра БЖСиГХ</a>
            {% for name, link in mainm.items %}
                <li class="nav-item"><a class="nav-link" href="{{link}}">{{name}}</a></li>
            {% endfor %}
          </ul>
          <form class="form-inline my-2 my-lg-0" action="https://www.google.ru/search" method="get" name="searchform" target="_blank">
            <input name="sitesearch" type="hidden" value="eximius8.pythonanywhere.com">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск google" aria-label="Search" name="q">
            <button class="btn btn-outline-success my-2 my-sm-0" style="color:#1976d2; border-color: #1976d2;" type="submit">Поиск</button>
          </form>
        </div>
      </nav>
    </header>

    <main>
      <div class="container-fluid">
        <div class="row pr-2 pt-2">
          <div class="col-lg-3 col-xl-2 mt-1"> <!-- style="background-color: #1976d2;"-->
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              {% for name, link in leftm.items %}
                  <a class="nav-link {% if link == request.path %} active {% endif %}" id="v-pills-home-tab" href="{{link}}" role="tab" aria-controls="v-pills-home"
                  aria-selected="true">{{name}}</a>
              {% endfor %}

            </div>
          </div>
          <div class="col-lg-6 col-xl-7 mt-1">
            {% if simple %}
              {{page_content|safe}}
            {% else %}
              {% include "home/main.html" with mitems=mitems %}
            {% endif %}




            <p class="float-right">
              Последнее изменение: {{last_updated|date:'d.m.Y'}}
            </p>

          </div>
          <div class="col-lg-3 col-xl-3 mt-1 mb-2 text-center" >
            {% include "home/rightpanel.html" with rheader=rheader ritems=ritems %}


          </div>
        </div>
      </div>
    </main>


    <footer style="height: 300px; background-color: #eceff1; color:#1976d2;">
      <div class="container-fluid pb-4 pt-4">
        <div class="col-lg-8">
          Разработка сайта: mikhail.trunov@gmail.com
        </div>
        <div class="row" style="height: 300px;">
          <div class="col-lg-4 pt-4 d-none d-md-block">
            <a href="http://vstu.ru" target="_blank"><img src="http://vstu.ru/bitrix/templates/mfrog/images/logo.png" alt="ВолгГТУ" width="260"></a>
          </div>
          <div class="col-lg-4 pt-4 d-none d-md-block">
            <a href="http://vgasu.ru" target="_blank"><img src="http://vgasu.ru/images/title.png" width="380" height="85" alt="ИАиС ВолГТУ" title="Институт архитектуры и строительства ВолгГТУ"></a>
<!--
            <a href="https://www.minobrnauki.gov.ru/" target="_blank"><img class="mh-100" src="https://www.minobrnauki.gov.ru/common/upload/min-obr-header.png" alt="" class="logoimage"></a>
-->
          </div>

        </div>
      </div>
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
